
{
  box-sizing: border-box;
}

body{
  margin : 0;
  background-image: url(https://i.pinimg.com/originals/16/02/b2/1602b26c05ee78120695d592a68b8912.gif) 
}

header{
  background-color:lightblue;
  height: 125px
}

article{
  background-color:aliceblue;
  width:70vw;
  margin: 10px auto 10px auto;
  padding: 10px;
}

nav{
  background-color:red;

}

ul{
  margin: 0;
}

ul li{
  display:inline-block;
  padding:10px;
}

a{
  color: white;
  background-color: rgba(255, 122, 122, 0.836);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
}

